* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('fundo.jpeg');
  background-size: cover;
  background-position: center left;
  color: white;
  font-family: Epilogue;
  /* background-repeat: no-repeat; */
}
